body{
	font-weight: 300;
	font-family: "HelveticaNeue-Light", 
	 							"Helvetica Neue Light", 
	 							"Helvetica Neue", 
	 							Helvetica, 
	 							Arial, 
	 							"Lucida Grande", 
	 							sans-serif; 
	background-color: white;
  text-align: center;
  margin-top: 80px;
  padding: 0;
}	

.dropZoneContainer{
	margin-top: 30px; 
}

h2{
	text-decoration: underline;
}

.pagePicture{
	max-height: 600px;
	max-width: 1000px;

	display: inline-block;
  margin: 5px; 

  position: relative;
  border: solid 5px #392759;
}

.commentForm{
	margin: 10px auto;
	width: 50%;
	text-align: center;
	background-color: #F7ACCF;
	padding: 5px;
}

.commentInput{
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 68%;
}

.commentInputButton{

}

.commentList{
	
}

#commentsTitle{
	margin-top: 20px;
	font-size: 1.5em;
}

.comment{
	margin: 10px auto;
	padding: 5px;
	background-color: #E8F0FF;
	width: 50%;
}

.commentBox{
	padding: 5px;
	margin: 5px;
}



.loadingSpinner{
	height: 25px;
	margin-bottom: 10px;
}

.wrapper{
	width: 100%; //fallback
  width: 100vw;
  clear: both;
}
.header{
	width: 100%; //fallback
  width: 100vw;
	background-color: #392759;
	height: 80px;
	position: absolute;
  top:0;
  left:0;
  display: block;
  color: white;
}

.footer{
	font-size: 0.75em;
	width: 100%; 
  width: 100vw;
	background-color: #392759;
	height: 50px;
	line-height: 50px;
	position: absolute;
  left: 0;
  text-align: center;
  clear: both;
  vertical-align: middle;
  color: white;
}

.title{
	color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-size: 1.2em
}

.title:hover{
	color: #F7ACCF;
}

.titleDiv{
	display: inline-block;
	padding: 10px;
	margin: 20px;
	width: 30%;
	font-size: 1.5em;
}

.navbar{
	display: inline-block;
	padding: 10px;
	margin: 20px;
	font-size: 1em;
	width: 30%;
}

.postButton{
	background-color: #392759;
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	color: white;
	cursor: pointer;
	width: 100px;
	height: 40px;
	font-size: 1.5em;
}
.postButton:hover{
	
}
.postButton:active{
  background-color: white;

	color: #392759;
}


.thumb .caption  {
	opacity: 0;
	width: 100%;
	background-color: #F7ACCF;
	color: #392759;
	bottom: 0;
	position: absolute;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.thumb:hover .caption  {
	opacity: 0.9;
	
}

.thumb {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin: 5px;
	border: solid 5px #392759;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.imgdiv{
    text-align: center;
}

#scrollText{
	margin: 10px;
}

.thumb:hover{
	border: solid 5px #F7ACCF;	
}

.picture{
	width: 128px;
	height: 128px;
  display: inline-block;
  margin: 5px; 
  cursor: pointer;
  position: relative;
  border: solid 5px #392759;
}

.picture:hover{
	border: solid 5px #F7ACCF;	
}

.pictureHeading{
	font-size: 2.5em;
	padding: 10px;
}

.picturesContainer{
	margin: 0 auto;
	text-align: center;
}

.pictures{
	display: flex;
	flex-wrap: wrap;
  white-space: nowrap;
  overflow-y: auto;
  margin: 15px auto;
  width: 750px;
}


.dropZone{
	display: block;
	border: dashed 3px black;
	width: 200px;
	height: 200px;
	margin: 10px;
	
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	     -o-transition: all 0.5s;
	        transition: all 0.5s;
}


.dropPreview{
	width:100%;
 	height:100%;
}


#checkMark{
	font-size: 5em;
	color: green;
}

#upload-file-container {
	position: relative;
}

#upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   position: absolute;
   top: 0;
   left:0;
}


.container{
	display: flex;
	flex-wrap: wrap;	
}


/* Wrapper */
.icon-button {
	background-color: #392759;
	border-radius: 4rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 4rem;
	line-height: 4rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 4rem;
}

/* Circle */
.icon-button span {
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 4rem;
	height: 4rem;
	border-radius: 4rem;
	margin: -2rem;
}

.cloudicon span{
	background-color: #F7ACCF;
}


/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 4rem;
	left: 0;
	line-height: 4rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 4rem;
	z-index: 10;
}

.icon-button .icon-cloudicon {
  color: #bd081c;
}

.icon-button:hover .icon-cloudicon {
  color: white;
}

.icon-button:active span {
	width: 4rem;
	height: 4rem;
	border-radius: 4rem;
	margin: -2rem;
	background-color: #acf7d4;
}

.icon-button:active .icon-cloudicon{
  color: white;
}



